@charset "utf-8";

@font-face
{
   
}

/*

my webpage css

*/

/* HTML and Body Styles */

    body
    {
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        background-color: lavenderblush;
        font-family: 'Indie Flower', 'Press Start 2P', cursive;
    }

    div.row
    {
       background-color: rgb(255, 214, 237);
    }

    p 
    {
        margin-left: 3%;
        margin-right: 3%;
    }



/**********************************

    section > blockquote.instagram-media
    {
        padding-left: 20px;
        padding-right: 20px;
    }

**********************************/


    

/* Heading Styles */

    header
    {
        background-color: lavender;
    }

    h1
    {
        color: lightcoral;
        text-align: center;
        font-size: 60px;
        font-family: 'Press Start 2P', cursive;
        background-color: lavender;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    
    h2, h3
    {
        color: lightcoral;
        text-align: center;
    }


/* Aside and Blockquote Styles */
    

/* Navigation Styles */	

    nav > ul
    {
        line-height: 2em;
        list-style-type: none;
        padding-left: 0;
        padding-right: 0;
    }

    nav > ul > li
    {
        display: inline-block;
        float: left;
        width: 25%;
        background-color: plum;
        font-size: 20px;
    }

    nav > ul > li > a
    {
        display: block;
        text-align: center;
        text-decoration: none;
        color: lemonchiffon;
    }

    nav > ul > li:hover
    {
        background-color: violet;
    }


/* List Styles */



/* Footer Styles */

     footer
    {
        
        background-color: thistle;
    }
    
    footer > p 
    {
        margin-left: 3%;
        margin-right: 3%;
    }

    


